<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/app/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>donis_finance</title>
    <script type="module" src="/app/assets/index-Cl75Oa-f.js"></script>
    <link rel="stylesheet" crossorigin href="/app/assets/index-o9rUh4qN.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>